.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.upload {
  opacity: 0;
  padding: 1em 0;
  &:hover {
    cursor: pointer;
  }
}

.upload_button {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background-color: #666;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.download {
  color: white;
  font-weight: bold;
  border-radius: 0;
  background-color: #666;
  outline: none;
  border: none;
  padding: 1em;
  &:focus {
    outline: none;
  }
}
